{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'tstyle.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>   
</head>
<body style="font-family:  'Poppins', sans-serif;">
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><span style="font-family:sans-serif;color:black;font-size: 25px;font-weight: 700;">Food</span><span style="font-family:sans-serif;color:#800080;font-size: 25px;font-weight: 700;">Bank</span></a>
            </div>
        <div class="navbar-right">
            <div class="collapse navbar-collapse" id="mynav">
                <ul class="nav navbar-nav">
                    <li  class="nav-item" ><a class="color-me" class="nav-link-active" href="homepage.html">HOME</a></li>
                    <li ><a class="color-me" href="#about" >ABOUT</a></li>
                    <li ><a class="color-me" href="#contact">CONTACT</a></li>
                    <li ><a class="color-me" href="login"><img src="{% static 'images/login (1).png' %}" width="30px" height="28px" style="align-items: center;"></a></li>
               </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="formbox">
    <h3 style="text-align: center;"><span style="font-family:sans-serif;color:black;font-size: 25px;font-weight: 700;">Food</span><span style="font-family:sans-serif;color:#800080;font-size: 25px;font-weight: 700;">Bank</span></h3>
    <form method="post">
        {% csrf_token %}
       <input type="text" name="foodname" placeholder="Food Name"> 
       <input type="email" name="email" placeholder="Email">
       <input type="text" id="phoneno" name="phoneno" placeholder="Phone Number">
       <label>NGO name:</label>
       <select >
        <option>ASHWINI</option>
        <option>EKAM Foundation</option>
        <option>Akshaya Trust</option>
       </select>
       <div class="input">
       <label>Meal Type:</label> 
       <input type="checkbox" name="veg">
       <label>Veg</label>  
       <input type="checkbox" name="nonveg">
       <label>Non-Veg</label>
       </div>
       <input type="number" id="quantity" name="quantity" placeholder="Quantity per person">
       <input type="text" id="address" name="address" placeholder="Address">
       <!-- Date and Time Inputs -->
    <label for="donation_date">Donation Date:</label>
    <input type="date" name="donation_date">
    <label for="donation_time">Donation Time:</label>
    <input type="time" name="donation_time">
       <a href="donatesuccess.html"><button type="submit" name="submit" class="margin-top: 20px;margin-left: 590px;" class="btn btn-lg">Donate</button></a>
       

     </form>
     </div>
     
     
    
</body>
</html>
